# ignore all executables (both windows and linux):
*
!/**/
!*.*
*.exe

# ignore build outputs
docs/*
examplebook/my*
*.log

# useful to create invisible stuff and play around (for x_devnotes.md for x_issue73.nim, ...)
x_*