<ol class="chapter">
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}index.html" tabindex="0">
      <strong aria-hidden="true">1.</strong> Introduction
    </a>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}basics/index.html" tabindex="0">
      <strong aria-hidden="true">2.</strong> Basics
    </a>
  </li>
  <li>
  <ol class="section">
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}basics/data_manipulation.html" tabindex="0">
      <strong aria-hidden="true">2.1.</strong> Data Manipulation
    </a>
  </li>
  <li>
  <ol class="section">
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}basics/plotting.html" tabindex="0">
      Plotting
    </a>
  </li>
  </ol>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}basics/models.html" tabindex="0">
      <strong aria-hidden="true">2.2.</strong> Models
    </a>
  </li>
  </ol>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}misc/but/very/far/contributors.html" tabindex="0">
      <strong aria-hidden="true">3.</strong> Contributors
    </a>
  </li>
</ol>
