<ol class="chapter">
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}index.html" tabindex="0">
      <strong aria-hidden="true">1.</strong> books
    </a>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}books/basics/index.html" tabindex="0">
      <strong aria-hidden="true">2.</strong> basics
    </a>
  </li>
  <li>
  <ol class="section">
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}books/basics/models.html" tabindex="0">
      <strong aria-hidden="true">2.1.</strong> models
    </a>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}books/basics/data_manipulation.html" tabindex="0">
      <strong aria-hidden="true">2.2.</strong> data_manipulation
    </a>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}books/basics/plotting.html" tabindex="0">
      <strong aria-hidden="true">2.3.</strong> plotting
    </a>
  </li>
  </ol>
  </li>
  <li class="chapter-item expanded ">
    <a href="{{path_to_root}}books/misc/but/very/far/contributors.html" tabindex="0">
      <strong aria-hidden="true">3.</strong> contributors
    </a>
  </li>
  <li>
  <ol class="section">
  </ol>
  </li>
</ol>
